/**
 * Place your custom CSS styles here.
 **/
body{
	/*
	background: #000 !important;
	*/
}


 [wasDragged]{
		-webkit-box-shadow: 23px 24px 6px -5px rgba(69,67,67,0.58);
		-moz-box-shadow: 23px 24px 6px -5px rgba(69,67,67,0.58);
		box-shadow: 23px 24px 6px -5px rgba(69,67,67,0.58);
}